.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: var(--bg-card);
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    width: 90%;
    max-width: 500px;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--text-muted);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form input {
    padding: 0.8rem;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #2A2A2A;
    color: var(--text-main);
}

.form button[type="submit"] {
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
}